## Builds the Unemployment variable

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('laucnty00.xlsx')
df.head()

,"Labor Force Data by County, 2000 Annual Averages",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,State,County,NaN,NaN,NaN,NaN,NaN,NaN,Unemploy-
2,LAUS,FIPS,FIPS,NaN,NaN,NaN,Labor,NaN,NaN,ment Rate
3,Code,Code,Code,County Name/State Abbreviation,Year,NaN,Force,Employed,Unemployed,(%)
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
df1 = df.iloc[5:]
df1.columns = ['Code', 'State_Code', 'County_Code', 'County_name', 'Year', 
               'None', 'Labor_Force' , 'Employed', 'Unemployed', 'Unemployment_Rate']

for i in range(1, 22):
    if len(str(i)) == 1:
        year_code = '0' + str(i)
    else:
        year_code = str(i)
        
    stg_df = pd.read_excel('laucnty' + year_code + '.xlsx')
    stg_df = stg_df.iloc[5:]
    stg_df.columns = df1.columns
    df1 = pd.concat([df1, stg_df], ignore_index = True)

In [32]:
df1.to_csv('Final_Unemployment_County.csv')

In [34]:
df1['Year'].unique()

array(['2000', nan, '2001', '2002', '2003', '2004', '2005', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018', '2019', '2020', '2021'],
      dtype=object)