Using this script to check differences between the modeling and forecast data between 2005-2020. Hoping this will help understand the discrepancy between forecasts

In [1]:
import pandas as pd
pd.set_option('display.max_columns', 500)

import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [71]:
#modeling data
m_df = pd.read_csv('C:/Users/zapate/Desktop/FHWA_Mobility_Trends/Year 2 County Level/Modeling_Year1_County_level/Data/County_Year2_11_13_23.csv')
#forecasting_data 
f_df = pd.read_csv('C:/Users/zapate/Desktop/FHWA_Mobility_Trends/Year 2 County Level/forecasting/forecasting_data.csv')
f_df = f_df[f_df['YEAR'] < 2021]
f_df

,FIPS,YEAR,Pop,EIA REAL,EIA_Region,EV Charging Scenario 1,EV Charging Scenario 2,Lane Miles Baseline,Lane Miles Upper,Lane Miles Lower,Telework Baseline,Telework High,Telework Low,Telework Mixed,Unemployment High,Unemployment Low,Unemployment Baseline
0,1001,2000,44021.0,NaN,NaN,0.0,0.0,1980.320,1980.320,1980.320,0.000000,0.000000,0.000000,0.000000,4.1,4.1,4.1
1,1003,2000,141342.0,NaN,NaN,0.0,0.0,4905.660,4905.660,4905.660,0.000000,0.000000,0.000000,0.000000,3.7,3.7,3.7
2,1005,2000,29015.0,NaN,NaN,0.0,0.0,2479.120,2479.120,2479.120,0.000000,0.000000,0.000000,0.000000,5.6,5.6,5.6
3,1007,2000,19913.0,NaN,NaN,0.0,0.0,1804.750,1804.750,1804.750,0.000000,0.000000,0.000000,0.000000,5.4,5.4,5.4
4,1009,2000,51107.0,NaN,NaN,0.0,0.0,2763.560,2763.560,2763.560,0.000000,0.000000,0.000000,0.000000,3.5,3.5,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60769,56037,2020,42190.0,3344988.0,CGSP_MTN,3.0,3.0,5252.604,5252.604,5252.604,0.087175,0.087175,0.087175,0.087175,7.5,7.5,7.5
60770,56039,2020,23377.0,2308166.0,CGSP_MTN,21.0,21.0,1475.236,1475.236,1475.236,0.112992,0.112992,0.112992,0.112992,6.0,6.0,6.0
60771,56041,2020,20457.0,785684.0,CGSP_MTN,1.0,1.0,1615.570,1615.570,1615.570,0.087175,0.087175,0.087175,0.087175,6.4,6.4,6.4
60772,56043,2020,7658.0,345111.0,CGSP_MTN,0.0,0.0,1371.434,1371.434,1371.434,0.053399,0.053399,0.053399,0.053399,5.3,5.3,5.3
60773,56045,2020,6818.0,292568.0,CGSP_MTN,0.0,0.0,1726.950,1726.950,1726.950,0.053399,0.053399,0.053399,0.053399,3.9,3.9,3.9

In [43]:
#reduce modeling dataset down to just what we model with
m_df = m_df[['Full_FIPS_Code','YEAR','VMT', 'LNMILES', 'POPULATION',  'TELEWORK', 'Charging_Stations', 'True_GDP', 'Unemployment_Rate']].dropna() #purposely excluding upt since not in model
m_sd = m_df[m_df['VMT'] > 0]
m_df

,Full_FIPS_Code,YEAR,VMT,LNMILES,POPULATION,TELEWORK,Charging_Stations,True_GDP,Unemployment_Rate
10,4001,2005,4.400052e+08,8268.628,68521.0,0.010453,0,2000348.0,0.104
11,4001,2008,3.774383e+08,8433.942,69883.0,0.037217,0,2380841.0,0.110
12,4001,2006,4.046152e+08,8443.966,69390.0,0.034262,0,2095628.0,0.102
13,4001,2007,3.920585e+08,8447.618,69602.0,0.047505,0,2115167.0,0.086
14,4001,2009,3.482914e+08,9236.089,71008.0,0.048929,0,2400707.0,0.154
...,...,...,...,...,...,...,...,...,...
60865,6085,2020,9.464539e+09,11453.850,1931026.0,0.309006,411,337427824.0,0.071
60866,6059,2020,1.895825e+10,17485.978,3185516.0,0.198937,504,222683756.0,0.089
60867,6037,2018,5.458075e+10,54632.767,10073906.0,0.058631,557,682824282.0,0.046
60868,6037,2019,5.359056e+10,54593.898,10039107.0,0.059282,712,700214742.0,0.045
60869,6037,2020,4.891223e+10,54826.884,9992236.0,0.194310,1492,660011801.0,0.123

In [44]:
#first lets figure out how many more entries per year forecasting dataset has over modeling
forecast_aggregate = f_df[['YEAR', 'FIPS']].groupby('YEAR').count()
forecast_aggregate

      FIPS
YEAR
2000  2894
2001  2894
2002  2894
2003  2894
2004  2894
2005  2894
2006  2894
2007  2894
2008  2894
2009  2894
2010  2894
2011  2894
2012  2894
2013  2894
2014  2894
2015  2894
2016  2894
2017  2894
2018  2894
2019  2894
2020  2894

In [45]:
modeling_aggregate = m_df[['YEAR', 'Full_FIPS_Code']].groupby('YEAR').count()
modeling_aggregate

      Full_FIPS_Code
YEAR
2005            2089
2006            2091
2007            2096
2008            2099
2009            2059
2010            2057
2011            2029
2012            2887
2013            2889
2014            2876
2015            2889
2016            2889
2017            2889
2018            2889
2019            2889
2020            2880

In [46]:
#take a look at what fips codes don't get modeled
col_names = []
for i in m_df.columns:
    col_names.append(str(i) + '_modeling')
m_df.columns = col_names
m_df['in_model'] = True

m_df.columns

Index(['Full_FIPS_Code_modeling', 'YEAR_modeling', 'VMT_modeling',
       'LNMILES_modeling', 'POPULATION_modeling', 'TELEWORK_modeling',
       'Charging_Stations_modeling', 'True_GDP_modeling',
       'Unemployment_Rate_modeling', 'in_model'],
      dtype='object')

In [47]:
m_df = m_df.rename(columns = {'Full_FIPS_Code_modeling': 'FIPS', 'YEAR_modeling':'YEAR'})

df = f_df.merge(m_df, how = 'left', left_on = ['YEAR', 'FIPS'], right_on = ['YEAR', 'FIPS'])

In [48]:
df['in_model'] = df['in_model'].fillna(False)
VMT_agg = df[['in_model', 'YEAR',  'VMT_modeling']].groupby(['YEAR', 'in_model']).sum('VMT')
VMT_agg

               VMT_modeling
YEAR in_model
2000 False     0.000000e+00
2001 False     0.000000e+00
2002 False     0.000000e+00
2003 False     0.000000e+00
2004 False     0.000000e+00
2005 False     0.000000e+00
     True      9.729422e+11
2006 False     0.000000e+00
     True      9.770911e+11
2007 False     0.000000e+00
     True      9.886092e+11
2008 False     0.000000e+00
     True      9.693626e+11
2009 False     0.000000e+00
     True      8.200198e+11
2010 False     0.000000e+00
     True      8.317310e+11
2011 False     0.000000e+00
     True      9.407843e+11
2012 False     0.000000e+00
     True      1.633698e+12
2013 False     0.000000e+00
     True      1.643643e+12
2014 False     0.000000e+00
     True      1.630700e+12
2015 False     0.000000e+00
     True      1.701721e+12
2016 False     0.000000e+00
     True      1.755083e+12
2017 False     0.000000e+00
     True      1.777823e+12
2018 False     0.000000e+00
     True      1.796908e+12
2019 False     0.000000e+00
     True      1.808381e+12
2020 False     0.000000e+00
     True      1.572908e+12

In [49]:
df_2010 = df[df['YEAR'] == 2010]

df_2010_t = df_2010[df_2010['in_model'] == True]
df_2010_t.describe()

,FIPS,YEAR,Pop,EIA REAL,EV Charging Scenario 1,EV Charging Scenario 2,Lane Miles Baseline,Lane Miles Upper,Lane Miles Lower,Telework Baseline,Telework High,Telework Low,Telework Mixed,Unemployment High,Unemployment Low,Unemployment Baseline,VMT_modeling,LNMILES_modeling,POPULATION_modeling,TELEWORK_modeling,Charging_Stations_modeling,True_GDP_modeling,Unemployment_Rate_modeling
count,2057.000000,2057.0,2.057000e+03,2.057000e+03,2057.000000,2057.000000,2057.000000,2057.000000,2057.000000,2057.000000,2057.000000,2057.000000,2057.000000,2057.000000,2057.000000,2057.000000,2.057000e+03,2057.000000,2.057000e+03,2057.000000,2057.000000,2.057000e+03,2057.000000
mean,29708.147788,2010.0,8.950378e+04,4.682753e+06,0.038892,0.038892,2714.888155,2714.888155,2714.888155,0.042684,0.042684,0.042684,0.042684,9.266456,9.266456,9.266456,4.043417e+08,2714.888155,8.950378e+04,0.042684,0.038892,4.682753e+06,0.092665
std,14235.139949,0.0,3.321032e+05,2.274322e+07,0.765529,0.765529,2430.296014,2430.296014,2430.296014,0.022039,0.022039,0.022039,0.022039,3.237603,3.237603,3.237603,1.570540e+09,2430.296014,3.321032e+05,0.022039,0.765529,2.274322e+07,0.032376
min,1001.000000,2010.0,2.880000e+02,1.505400e+04,0.000000,0.000000,206.661333,206.661333,206.661333,0.002657,0.002657,0.002657,0.002657,2.000000,2.000000,2.000000,1.664612e+05,206.661333,2.880000e+02,0.002657,0.000000,1.505400e+04,0.020000
25%,19113.000000,2010.0,1.127500e+04,3.535430e+05,0.000000,0.000000,1623.940000,1623.940000,1623.940000,0.027099,0.027099,0.027099,0.027099,7.100000,7.100000,7.100000,4.820405e+07,1623.940000,1.127500e+04,0.027099,0.000000,3.535430e+05,0.071000
50%,29037.000000,2010.0,2.545300e+04,8.331710e+05,0.000000,0.000000,2250.956000,2250.956000,2250.956000,0.039181,0.039181,0.039181,0.039181,9.200000,9.200000,9.200000,1.175859e+08,2250.956000,2.545300e+04,0.039181,0.000000,8.331710e+05,0.092000
75%,42017.000000,2010.0,6.057900e+04,2.177199e+06,0.000000,0.000000,3088.079000,3088.079000,3088.079000,0.053834,0.053834,0.053834,0.053834,11.300000,11.300000,11.300000,2.877790e+08,3088.079000,6.057900e+04,0.053834,0.000000,2.177199e+06,0.113000
max,56045.000000,2010.0,9.823246e+06,5.614100e+08,33.000000,33.000000,52884.025000,52884.025000,52884.025000,0.186547,0.186547,0.186547,0.186547,29.400000,29.400000,29.400000,5.057909e+10,52884.025000,9.823246e+06,0.186547,33.000000,5.614100e+08,0.294000

In [50]:
df_2010 = df[df['YEAR'] == 2010]

df_2010_f = df_2010[df_2010['in_model'] == False]
df_2010_f.describe()

,FIPS,YEAR,Pop,EIA REAL,EV Charging Scenario 1,EV Charging Scenario 2,Lane Miles Baseline,Lane Miles Upper,Lane Miles Lower,Telework Baseline,Telework High,Telework Low,Telework Mixed,Unemployment High,Unemployment Low,Unemployment Baseline,VMT_modeling,LNMILES_modeling,POPULATION_modeling,TELEWORK_modeling,Charging_Stations_modeling,True_GDP_modeling,Unemployment_Rate_modeling
count,837.000000,837.0,8.370000e+02,8.370000e+02,837.000000,837.000000,837.000000,837.000000,837.000000,837.000000,837.000000,837.000000,837.000000,837.000000,837.000000,837.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,33065.209080,2010.0,1.473056e+05,6.985292e+06,0.093190,0.093190,3263.910624,3263.910624,3263.910624,0.003130,0.003130,0.003130,0.003130,9.580072,9.580072,9.580072,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,16541.795738,0.0,3.062460e+05,1.781000e+07,0.770828,0.770828,3016.293847,3016.293847,3016.293847,0.012916,0.012916,0.012916,0.012916,2.795203,2.795203,2.795203,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1055.000000,2010.0,0.000000e+00,0.000000e+00,0.000000,0.000000,53.520000,53.520000,53.520000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,17081.000000,2010.0,1.776600e+04,5.656460e+05,0.000000,0.000000,1648.980000,1648.980000,1648.980000,0.000000,0.000000,0.000000,0.000000,7.600000,7.600000,7.600000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,39027.000000,2010.0,4.217000e+04,1.416412e+06,0.000000,0.000000,2533.604000,2533.604000,2533.604000,0.000000,0.000000,0.000000,0.000000,9.200000,9.200000,9.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,49025.000000,2010.0,1.347250e+05,4.824749e+06,0.000000,0.000000,3923.325000,3923.325000,3923.325000,0.000000,0.000000,0.000000,0.000000,11.200000,11.200000,11.200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,56041.000000,2010.0,3.103212e+06,1.887149e+08,14.000000,14.000000,40292.640000,40292.640000,40292.640000,0.099295,0.099295,0.099295,0.099295,21.300000,21.300000,21.300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
#now, we can work on spot checking if all of Matt's forecast data is exactly like the Modeling data
df_2010_t

,FIPS,YEAR,Pop,EIA REAL,EIA_Region,EV Charging Scenario 1,EV Charging Scenario 2,Lane Miles Baseline,Lane Miles Upper,Lane Miles Lower,Telework Baseline,Telework High,Telework Low,Telework Mixed,Unemployment High,Unemployment Low,Unemployment Baseline,VMT_modeling,LNMILES_modeling,POPULATION_modeling,TELEWORK_modeling,Charging_Stations_modeling,True_GDP_modeling,Unemployment_Rate_modeling,in_model
28940,1001,2010,54773.0,1286603.0,CGSP_ESC,0.0,0.0,1829.046,1829.046,1829.046,0.060419,0.060419,0.060419,0.060419,8.8,8.8,8.8,2.443801e+08,1829.046,54773.0,0.060419,0.0,1286603.0,0.088,True
28941,1003,2010,183112.0,5381575.0,CGSP_ESC,0.0,0.0,6842.603,6842.603,6842.603,0.023765,0.023765,0.023765,0.023765,9.9,9.9,9.9,1.066437e+09,6842.603,183112.0,0.023765,0.0,5381575.0,0.099,True
28942,1005,2010,27327.0,784043.0,CGSP_ESC,0.0,0.0,2501.627,2501.627,2501.627,0.042371,0.042371,0.042371,0.042371,12.1,12.1,12.1,1.075804e+08,2501.627,27327.0,0.042371,0.0,784043.0,0.121,True
28943,1007,2010,22870.0,364023.0,CGSP_ESC,0.0,0.0,1822.002,1822.002,1822.002,0.018814,0.018814,0.018814,0.018814,11.2,11.2,11.2,7.556499e+07,1822.002,22870.0,0.018814,0.0,364023.0,0.112,True
28944,1009,2010,57376.0,839899.0,CGSP_ESC,0.0,0.0,2693.250,2693.250,2693.250,0.020140,0.020140,0.020140,0.020140,9.7,9.7,9.7,1.686248e+08,2693.250,57376.0,0.020140,0.0,839899.0,0.097,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31826,56031,2010,8665.0,573722.0,CGSP_MTN,0.0,0.0,2048.206,2048.206,2048.206,0.026439,0.026439,0.026439,0.026439,6.0,6.0,6.0,1.239208e+08,2048.206,8665.0,0.026439,0.0,573722.0,0.060,True
31827,56033,2010,29148.0,1277082.0,CGSP_MTN,0.0,0.0,2235.866,2235.866,2235.866,0.063883,0.063883,0.063883,0.063883,7.9,7.9,7.9,1.004907e+08,2235.866,29148.0,0.063883,0.0,1277082.0,0.079,True
31830,56039,2010,21296.0,1811469.0,CGSP_MTN,0.0,0.0,1892.258,1892.258,1892.258,0.063883,0.063883,0.063883,0.063883,8.3,8.3,8.3,1.034793e+08,1892.258,21296.0,0.063883,0.0,1811469.0,0.083,True
31832,56043,2010,8530.0,388974.0,CGSP_MTN,0.0,0.0,902.936,902.936,902.936,0.026439,0.026439,0.026439,0.026439,6.4,6.4,6.4,3.407394e+07,902.936,8530.0,0.026439,0.0,388974.0,0.064,True
31833,56045,2010,7198.0,310741.0,CGSP_MTN,0.0,0.0,1736.770,1736.770,1736.770,0.026439,0.026439,0.026439,0.026439,5.2,5.2,5.2,3.730262e+07,1736.770,7198.0,0.026439,0.0,310741.0,0.052,True

In [60]:
print(df_2010_t['EV Charging Scenario 1'].equals(df_2010_t['Charging_Stations_modeling']))
print(df_2010_t['Lane Miles Baseline'].equals(df_2010_t['LNMILES_modeling']))
print(df_2010_t['Pop'].equals(df_2010_t['POPULATION_modeling']))
print(df_2010_t['Telework Baseline'].equals(df_2010_t['TELEWORK_modeling']))
print(df_2010_t['EIA REAL'].equals(df_2010_t['True_GDP_modeling']))
df_2010_t['Unemployment Baseline'] = df_2010_t['Unemployment Baseline'] / 100
print(df_2010_t['Unemployment Baseline'].equals(df_2010_t['Unemployment_Rate_modeling']))

True
True
True
True
True
False

In [69]:
#values are equal
unemp = df_2010_t[['Unemployment Baseline', 'Unemployment_Rate_modeling']]

In [74]:
m_df = pd.read_csv('C:/Users/zapate/Desktop/FHWA_Mobility_Trends/Year 2 County Level/Modeling_Year1_County_level/Data/County_Year2_11_13_23.csv')

m_df_vmt = m_df[['VMT', 'Full_FIPS_Code', 'YEAR']]
len(m_df_vmt), len(m_df_vmt.dropna())

(60870, 60376)

In [75]:
modeling_aggregate = m_df_vmt.dropna()[['YEAR', 'Full_FIPS_Code']].groupby('YEAR').count()
modeling_aggregate

      Full_FIPS_Code
YEAR
2000            2862
2001            2868
2002            2869
2003            2872
2004            2873
2005            2875
2006            2877
2007            2877
2008            2880
2009            2838
2010            2838
2011            2800
2012            2894
2013            2896
2014            2883
2015            2896
2016            2896
2017            2896
2018            2896
2019            2896
2020            2894

In [2]:
#trying to use matt's imputed data to make a full 60k dataset
m_df = pd.read_csv('C:/Users/zapate/Desktop/FHWA_Mobility_Trends/Year 2 County Level/Modeling_Year1_County_level/Data/County_Year2_11_13_23.csv')
#forecasting_data 
f_df = pd.read_csv('C:/Users/zapate/Desktop/FHWA_Mobility_Trends/Year 2 County Level/forecasting/forecasting_data.csv')
f_df = f_df[f_df['YEAR'] < 2021]

In [3]:
m_df_vmt = m_df[['YEAR', 'Full_FIPS_Code', 'VMT']]
f_df_vmt = f_df[['FIPS', 'YEAR', 'Pop', 'EIA REAL', 'EV Charging Scenario 1', 'Lane Miles Baseline', 'Telework Baseline', 'Unemployment High']]
f_df_vmt.columns = ['Full_FIPS_Code', 'YEAR', 'POPULATION', 'True_GDP', 'Charging_Stations', 'LNMILES', 'TELEWORK', 'Unemployment_Rate']
f_df_vmt['UPT'] = 0

df_all_predictions = m_df_vmt.merge(f_df_vmt, how = 'left', on = ['YEAR', 'Full_FIPS_Code'])
df_all_predictions

C:\Users\zapate\AppData\Local\Temp\ipykernel_22716\1502584592.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_df_vmt['UPT'] = 0

,YEAR,Full_FIPS_Code,VMT,POPULATION,True_GDP,Charging_Stations,LNMILES,TELEWORK,Unemployment_Rate,UPT
0,2004,1001,3.216756e+08,48366.0,1170278.0,0.0,1648.340,0.000000,4.7,0
1,2002,1001,3.027907e+08,45909.0,984039.0,0.0,1922.240,0.000000,4.8,0
2,2003,1001,3.082386e+08,46800.0,1008032.0,0.0,1922.240,0.000000,5.0,0
3,2000,1001,2.744493e+08,44021.0,NaN,0.0,1980.320,0.000000,4.1,0
4,2001,1001,2.943835e+08,44889.0,949800.0,0.0,1983.540,0.000000,4.1,0
...,...,...,...,...,...,...,...,...,...,...
60865,2020,6085,9.464539e+09,1931026.0,337427824.0,411.0,11453.850,0.309006,7.1,0
60866,2020,6059,1.895825e+10,3185516.0,222683756.0,504.0,17485.978,0.198937,8.9,0
60867,2018,6037,5.458075e+10,10073906.0,682824282.0,557.0,54632.767,0.058631,4.6,0
60868,2019,6037,5.359056e+10,10039107.0,700214742.0,712.0,54593.898,0.059282,4.5,0
60869,2020,6037,4.891223e+10,9992236.0,660011801.0,1492.0,54826.884,0.194310,12.3,0

In [84]:
df_all_predictions.to_csv('Matts Imputed Dataset all Predictions.csv', index = False)

In [8]:
m_df = pd.read_csv('C:/Users/zapate/Desktop/FHWA_Mobility_Trends/Year 2 County Level/Modeling_Year1_County_level/Data/County_Year2_11_13_23.csv')[['YEAR', 'TOTAL_EMISSIONS']]
emissions_grouped = m_df.groupby('YEAR').sum('TOTAL_EMISSIONS').reset_index()
emissions_grouped = emissions_grouped[emissions_grouped['TOTAL_EMISSIONS'] > 0]
emissions_grouped.to_csv('TOTAL_EMISSIONS_SUMMED_BY_YEAR.csv', index= False)