In [1]:
import pandas as pd

In [2]:
df2000 = pd.read_csv('2000_2009 County Population.csv',encoding='latin-1')
df2000.head()

,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009
0,3,6,1,0,Alabama,Alabama,4452173,4467634,4480089,4503491,4530729,4569805,4628981,4672840,4718206,4757938
1,3,6,1,1,Alabama,Autauga County,44021,44889,45909,46800,48366,49676,51328,52405,53277,54135
2,3,6,1,3,Alabama,Baldwin County,141342,144875,147957,151509,156266,162183,168121,172404,175827,179406
3,3,6,1,5,Alabama,Barbour County,29015,28863,28653,28594,28287,28027,27861,27757,27808,27657
4,3,6,1,7,Alabama,Bibb County,19913,21028,21199,21399,21721,22042,22099,22438,22705,22941

In [3]:
df2010 = pd.read_csv('2010-2019 County Population.csv')
df2010['County'] = df2010['County'].str[1:]
df2010.head()

,County,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,"Autauga County, Alabama","54,773","55,227","54,954","54,727","54,893","54,864","55,243","55,390","55,533","55,869"
1,"Baldwin County, Alabama","183,112","186,558","190,145","194,885","199,183","202,939","207,601","212,521","217,855","223,234"
2,"Barbour County, Alabama","27,327","27,341","27,169","26,937","26,755","26,283","25,806","25,157","24,872","24,686"
3,"Bibb County, Alabama","22,870","22,745","22,667","22,521","22,553","22,566","22,586","22,550","22,367","22,394"
4,"Blount County, Alabama","57,376","57,560","57,580","57,619","57,526","57,526","57,494","57,787","57,771","57,826"

In [5]:
df2020 = pd.read_csv('2020-2022 County Population.csv')
df2020['County'] = df2020['County'].str[1:]
df2020.head()

                    County     2020     2021     2022
0  Autauga County, Alabama   58,902   59,210   59,759
1  Baldwin County, Alabama  233,219  239,361  246,435
2  Barbour County, Alabama   24,960   24,539   24,706
3     Bibb County, Alabama   22,183   22,370   22,005
4   Blount County, Alabama   59,102   59,085   59,512

In [6]:
df2010_merged = df2010.merge(df2020, how = 'outer', left_on = 'County', right_on = 'County', )
df2010_merged.head()

,County,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,"Autauga County, Alabama","54,773","55,227","54,954","54,727","54,893","54,864","55,243","55,390","55,533","55,869","58,902","59,210","59,759"
1,"Baldwin County, Alabama","183,112","186,558","190,145","194,885","199,183","202,939","207,601","212,521","217,855","223,234","233,219","239,361","246,435"
2,"Barbour County, Alabama","27,327","27,341","27,169","26,937","26,755","26,283","25,806","25,157","24,872","24,686","24,960","24,539","24,706"
3,"Bibb County, Alabama","22,870","22,745","22,667","22,521","22,553","22,566","22,586","22,550","22,367","22,394","22,183","22,370","22,005"
4,"Blount County, Alabama","57,376","57,560","57,580","57,619","57,526","57,526","57,494","57,787","57,771","57,826","59,102","59,085","59,512"

we will inevidebly throw out alaska as it's an outlier from the continental states. A big concern is connecticut, who changed from 'counties' to planning regions in 2020. They don't match up (8 counties vs 9 planning regions). Going to leave out the 2020 data for connecticut.

In [9]:
df2010_merged[df2010_merged['2010'].isna()]

,County,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
3142,ote: The estimates are based on the 2010 Censu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3143,"ote: The 6,222 people in Bedford city, Virgini...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3144,uggested Citation:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3145,nnual Estimates of the Resident Population for...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3146,"ource: U.S. Census Bureau, Population Division",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3147,elease Date: March 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3148,"Chugach Census Area, Alaska",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"7,077","6,943","6,874"
3149,"Copper River Census Area, Alaska",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2,616","2,611","2,589"
3150,"Capitol Planning Region, Connecticut",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"973,159","980,757","981,447"
3151,"Greater Bridgeport Planning Region, Connecticut",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"324,932","327,229","327,286"
3152,Lower Connecticut River Valley Planning Region...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"173,927","176,095","176,622"
3153,"Naugatuck Valley Planning Region, Connecticut",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"449,896","452,894","454,083"
3154,"Northeastern Connecticut Planning Region, Conn...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"95,274","95,708","96,196"
3155,"Northwest Hills Planning Region, Connecticut",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"112,269","112,974","113,234"
3156,"South Central Connecticut Planning Region, Con...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"569,237","573,562","573,244"
3157,"Southeastern Connecticut Planning Region, Conn...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"279,522","280,117","280,403"
3158,"Western Connecticut Planning Region, Connecticut",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"619,146","624,019","623,690"
3159,"Bottineau County, North Dakota",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"6,384","6,437","6,376"

In [10]:
df2010_merged[df2010_merged['2020'].isna()]

,County,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
92,"Valdez-Cordova Census Area, Alaska","9,657","9,740","9,734","9,781","9,478","9,319","9,314","9,220","9,161","9,202",NaN,NaN,NaN
308,"Fairfield County, Connecticut","919,355","928,000","935,099","939,924","944,196","944,943","944,347","943,038","943,971","943,332",NaN,NaN,NaN
309,"Hartford County, Connecticut","895,236","896,864","897,706","897,678","897,407","896,290","894,141","893,076","892,580","891,720",NaN,NaN,NaN
310,"Litchfield County, Connecticut","189,763","188,972","187,570","186,836","185,343","184,122","182,793","181,667","181,095","180,333",NaN,NaN,NaN
311,"Middlesex County, Connecticut","165,616","166,174","165,634","165,329","164,786","163,724","163,292","162,942","162,870","162,436",NaN,NaN,NaN
312,"New Haven County, Connecticut","863,357","863,871","864,566","862,820","862,885","860,186","857,901","857,748","856,971","854,757",NaN,NaN,NaN
313,"New London County, Connecticut","274,004","273,037","274,091","272,976","271,462","269,636","268,403","267,419","266,285","265,206",NaN,NaN,NaN
314,"Tolland County, Connecticut","153,239","153,050","151,967","151,778","151,693","151,734","151,162","151,009","150,689","150,721",NaN,NaN,NaN
315,"Windham County, Connecticut","118,544","118,315","117,914","117,500","116,752","116,487","116,102","116,398","117,059","116,782",NaN,NaN,NaN
1994,"ottineau County, North Dakota","6,440","6,499","6,606","6,738","6,684","6,734","6,573","6,522","6,398","6,282",NaN,NaN,NaN
3142,ote: The estimates are based on the 2010 Censu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3143,"ote: The 6,222 people in Bedford city, Virgini...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3144,uggested Citation:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3145,nnual Estimates of the Resident Population for...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3146,"ource: U.S. Census Bureau, Population Division",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3147,elease Date: March 2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
county_names = pd.DataFrame(df2010_merged['County'].str.split(', ').values.tolist())
df2010_merged = pd.concat([df2010_merged, county_names[[0,1]].rename(columns= {0:'County_name', 1:'State_name'})], axis=1)

In [12]:
df2010_merged

,County,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,County_name,State_name
0,"Autauga County, Alabama","54,773","55,227","54,954","54,727","54,893","54,864","55,243","55,390","55,533","55,869","58,902","59,210","59,759",Autauga County,Alabama
1,"Baldwin County, Alabama","183,112","186,558","190,145","194,885","199,183","202,939","207,601","212,521","217,855","223,234","233,219","239,361","246,435",Baldwin County,Alabama
2,"Barbour County, Alabama","27,327","27,341","27,169","26,937","26,755","26,283","25,806","25,157","24,872","24,686","24,960","24,539","24,706",Barbour County,Alabama
3,"Bibb County, Alabama","22,870","22,745","22,667","22,521","22,553","22,566","22,586","22,550","22,367","22,394","22,183","22,370","22,005",Bibb County,Alabama
4,"Blount County, Alabama","57,376","57,560","57,580","57,619","57,526","57,526","57,494","57,787","57,771","57,826","59,102","59,085","59,512",Blount County,Alabama
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3155,"Northwest Hills Planning Region, Connecticut",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"112,269","112,974","113,234",Northwest Hills Planning Region,Connecticut
3156,"South Central Connecticut Planning Region, Con...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"569,237","573,562","573,244",South Central Connecticut Planning Region,Connecticut
3157,"Southeastern Connecticut Planning Region, Conn...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"279,522","280,117","280,403",Southeastern Connecticut Planning Region,Connecticut
3158,"Western Connecticut Planning Region, Connecticut",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"619,146","624,019","623,690",Western Connecticut Planning Region,Connecticut
3159,"Bottineau County, North Dakota",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"6,384","6,437","6,376",Bottineau County,North Dakota

In [13]:
population_final = df2000.merge(df2010_merged, how = 'outer', left_on= ['CTYNAME','STNAME'], right_on =['County_name', 'State_name'])

In [16]:
#note only alaksa and connecticut don't nicely join on. one issue for south dakota, north dakota, louisiana

population_final[population_final['STNAME'].isna()]

,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,2000,2001,2002,2003,...,2015,2016,2017,2018,2019,2020,2021,2022,County_name,State_name
3194,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"8,194","8,181","8,236","8,323","8,314","8,373","8,398","8,278",Kusilvak Census Area,Alaska
3195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"3,253","3,260","3,264","3,244","3,266","3,405","3,373","3,360",Petersburg Borough,Alaska
3196,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"14,979","15,022","14,887","14,901","14,892","14,822","14,793","14,729",LaSalle Parish,Louisiana
3197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"6,734","6,573","6,522","6,398","6,282",NaN,NaN,NaN,ottineau County,North Dakota
3198,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"14,358","14,425","14,384","14,331","14,177","13,645","13,549","13,519",Oglala Lakota County,South Dakota
3199,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ote: The estimates are based on the 2010 Censu...,2010 population due to the Count Question Reso...
3200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"ote: The 6,222 people in Bedford city",Virginia
3201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,uggested Citation:,None
3202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nnual Estimates of the Resident Population for...,2010 to July 1
3203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ource: U.S. Census Bureau,Population Division
3204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,elease Date: March 2020,None
3205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"7,077","6,943","6,874",Chugach Census Area,Alaska
3206,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"2,616","2,611","2,589",Copper River Census Area,Alaska
3207,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"973,159","980,757","981,447",Capitol Planning Region,Connecticut
3208,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"324,932","327,229","327,286",Greater Bridgeport Planning Region,Connecticut
3209,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"173,927","176,095","176,622",Lower Connecticut River Valley Planning Region,Connecticut
3210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"449,896","452,894","454,083",Naugatuck Valley Planning Region,Connecticut
3211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"95,274","95,708","96,196",Northeastern Connecticut Planning Region,Connecticut
3212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"112,269","112,974","113,234",Northwest Hills Planning Region,Connecticut
3213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"569,237","573,562","573,244",South Central Connecticut Planning Region,Connecticut
3214,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"279,522","280,117","280,403",Southeastern Connecticut Planning Region,Connecticut
3215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,"619,146","624,019","623,690",Western Connecticut Planning Region,Connecticut

In [18]:
#removing rows without fips code
population_final.dropna(axis=0, subset=['STATE']).to_csv('County_population_2000_2022.csv')

In [9]:
#checking how many rows contain a nan
population_final.shape[0] - population_final.dropna().shape[0]

87

In [18]:
population_final[population_final.isna().any(axis=1)].to_csv('population_NA.csv')