In [5]:
import pandas as pd
from matplotlib import pyplot as plt

In [8]:
#checking lane miles if on same scale
df = pd.read_csv('VMT_MODELING_DATASET7_6.csv').drop(columns = ['Unnamed: 0']).drop_duplicates().dropna()
df

,STATE_CODE,COUNTY_CODE,YEAR,VMT,POPULATION,GDP,Unemployment_Rate,Charging_Stations,LNMILES,TMS,TELEWORK,distributed_UPT,GEMS_Typo,USDA_UIC
14562,1,1.0,2005,322993600.0,49676.0,1195319,3.8,0.0,1648.580,0.008177,0.014285,2.118421e+05,F,2.0
14563,1,3.0,2005,1340591700.0,162183.0,5502688,4,0.0,4915.608,0.008196,0.017183,1.268139e+06,C,2.0
14564,1,5.0,2005,137144980.0,28027.0,892271,5.7,0.0,2366.156,0.001038,0.028816,0.000000e+00,C,6.0
14565,1,7.0,2005,107760790.0,22042.0,322815,4.4,0.0,1767.491,0.013481,0.013180,0.000000e+00,D,1.0
14566,1,9.0,2005,219522450.0,54624.0,887578,3.6,0.0,2629.284,0.000216,0.019546,5.187080e+05,D,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63828,56,37.0,2020,807080640.0,"42,190",3344988,7.5,3.0,5252.604,0.007363,0.087175,0.000000e+00,C,8.0
63829,56,39.0,2020,173860200.0,"23,377",2308166,6,21.0,1475.236,0.004938,0.112992,0.000000e+00,D,8.0
63830,56,41.0,2020,268234400.0,"20,457",785684,6.4,1.0,1615.570,0.007363,0.087175,0.000000e+00,D,8.0
63831,56,43.0,2020,49651270.0,"7,658",345111,5.3,0.0,1371.434,0.005502,0.053399,0.000000e+00,B,11.0
63832,56,45.0,2020,56497024.0,"6,818",292568,3.9,0.0,1726.950,0.005502,0.053399,0.000000e+00,E,9.0

In [9]:
df.dtypes

STATE_CODE             int64
COUNTY_CODE          float64
YEAR                   int64
VMT                   object
POPULATION            object
GDP                   object
Unemployment_Rate     object
Charging_Stations    float64
LNMILES              float64
TMS                  float64
TELEWORK             float64
distributed_UPT      float64
GEMS_Typo             object
USDA_UIC             float64
dtype: object

In [11]:
df['VMT'] = pd.to_numeric(df['VMT'].str.replace(',',''), errors = 'coerce')
df['POPULATION'] = pd.to_numeric(df['POPULATION'].str.replace(',',''), errors = 'coerce')
df['POPULATION'] = pd.to_numeric(df['POPULATION'].str.replace(',',''), errors = 'coerce')
df['GDP'] = pd.to_numeric(df['GDP'].str.replace(',',''), errors = 'coerce')

ValueError: Unable to parse string "[nan]" at position 8518