This script starts with the final year 2 task 4 dataset and joins any additional indicators used in task 6 year 2

In [2]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
datapath = 'C:/Users/hrowe/Documents/FHWA mobility trend report/T4 - Forecasting/Year 2/FHWA_Mobility_Trends/Year 2 County Level/Modeling_Year1_County_level/Data/'
df_master = pd.read_csv(datapath + 'County_Year2_1_10_24.csv', index_col=0) #final year 2 task 4 modeling dataset as of 1/12/24
df_master

,STATE_CODE,COUNTY_CODE,YEAR,VMT,POPULATION,TOTAL_EMISSIONS,True_Fips,True_GDP,Unemployment_Rate,Charging_Stations,...,Charging_Stations_per_person,LNMILES_per_person,UPT_per_person,TRANSIT_USER_COUNT,County_Type,INTERNET_CONNECTIONS,UNEMPLOYED,Labor_Force,TELEWORKERS,capital_transit_funding
0,1,1,2000,2.744493e+08,44021.0,NaN,NaN,NaN,0.041,0.0,...,0.0,0.044986,NaN,NaN,Metropolitan,NaN,896.301,21861.0,NaN,NaN
1,1,3,2000,1.196020e+09,141342.0,NaN,NaN,NaN,0.037,0.0,...,0.0,0.034708,NaN,NaN,Fringe,NaN,2589.223,69979.0,NaN,NaN
2,1,5,2000,1.276073e+08,29015.0,NaN,NaN,NaN,0.056,0.0,...,0.0,0.085443,NaN,NaN,Micropolitan,NaN,641.144,11449.0,NaN,NaN
3,1,7,2000,9.060923e+07,19913.0,NaN,NaN,NaN,0.054,0.0,...,0.0,0.090632,NaN,NaN,Fringe,NaN,465.642,8623.0,NaN,NaN
4,1,9,2000,2.181014e+08,51107.0,NaN,NaN,NaN,0.035,0.0,...,0.0,0.054074,NaN,NaN,Fringe,NaN,884.310,25266.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65276,46,102,2020,NaN,NaN,60853.553680,46102.0,312466.0,0.089,0.0,...,NaN,NaN,NaN,NaN,Tribal,NaN,336.331,3779.0,NaN,0.0
65277,88,180,2020,NaN,NaN,3.586519,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
65278,88,181,2020,NaN,NaN,5.683000,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
65279,88,182,2020,NaN,NaN,13.910431,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
65280,88,183,2020,NaN,NaN,0.079787,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

##### Joining indicator: Number of Households with Zero Vehicles

In [19]:
hh_zero_veh = pd.read_csv('C:/Users/hrowe/Documents/FHWA mobility trend report/T4 - Forecasting/Year 2/FHWA_Mobility_Trends/Year 2 County Level/Data_engineering_Year1_County_level/Transit/By household wo vehicle - using capital funding/households without vehicle by county.csv')
hh_zero_veh = hh_zero_veh[hh_zero_veh['FIPS_CODE'].notna()] #remove cases where FIPS_CODE is NA
hh_zero_veh['FIPS_CODE'] = hh_zero_veh['FIPS_CODE'].astype(int)#.astype(str).str.zfill(5)
hh_zero_veh = hh_zero_veh[['YEAR', 'FIPS_CODE', 'ZERO_CAR_HOUSEHOLDS']]
hh_zero_veh = hh_zero_veh.rename(columns={'ZERO_CAR_HOUSEHOLDS': 'HH_ZERO_VEH','FIPS_CODE': 'Full_FIPS_Code' })

hh_zero_veh

       YEAR  Full_FIPS_Code  HH_ZERO_VEH
0      2015           39165        60600
1      2015           41051      1227327
2      2015           41063         8598
3      2013           37063       291620
4      2013           37141        27536
...     ...             ...          ...
48208  2020           55069        19070
48209  2020           56007         3850
48210  2020           56017         5406
48211  2020            4015       294937
48212  2020            5121        14568

[47701 rows x 3 columns]

In [20]:
df = pd.merge(df_master, hh_zero_veh, on = ['Full_FIPS_Code', 'YEAR'] , how='left')
df

,STATE_CODE,COUNTY_CODE,YEAR,VMT,POPULATION,TOTAL_EMISSIONS,True_Fips,True_GDP,Unemployment_Rate,Charging_Stations,...,LNMILES_per_person,UPT_per_person,TRANSIT_USER_COUNT,County_Type,INTERNET_CONNECTIONS,UNEMPLOYED,Labor_Force,TELEWORKERS,capital_transit_funding,HH_ZERO_VEH
0,1,1,2000,2.744493e+08,44021.0,NaN,NaN,NaN,0.041,0.0,...,0.044986,NaN,NaN,Metropolitan,NaN,896.301,21861.0,NaN,NaN,NaN
1,1,3,2000,1.196020e+09,141342.0,NaN,NaN,NaN,0.037,0.0,...,0.034708,NaN,NaN,Fringe,NaN,2589.223,69979.0,NaN,NaN,NaN
2,1,5,2000,1.276073e+08,29015.0,NaN,NaN,NaN,0.056,0.0,...,0.085443,NaN,NaN,Micropolitan,NaN,641.144,11449.0,NaN,NaN,NaN
3,1,7,2000,9.060923e+07,19913.0,NaN,NaN,NaN,0.054,0.0,...,0.090632,NaN,NaN,Fringe,NaN,465.642,8623.0,NaN,NaN,NaN
4,1,9,2000,2.181014e+08,51107.0,NaN,NaN,NaN,0.035,0.0,...,0.054074,NaN,NaN,Fringe,NaN,884.310,25266.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65276,46,102,2020,NaN,NaN,60853.553680,46102.0,312466.0,0.089,0.0,...,NaN,NaN,NaN,Tribal,NaN,336.331,3779.0,NaN,0.0,NaN
65277,88,180,2020,NaN,NaN,3.586519,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
65278,88,181,2020,NaN,NaN,5.683000,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
65279,88,182,2020,NaN,NaN,13.910431,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
65280,88,183,2020,NaN,NaN,0.079787,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN

In [22]:
df.isna().sum()

STATE_CODE                          0
COUNTY_CODE                         0
YEAR                                0
VMT                              1283
POPULATION                        609
TOTAL_EMISSIONS                 48584
True_Fips                        3543
True_GDP                         3543
Unemployment_Rate                 288
Charging_Stations                   0
LNMILES                          2508
TMS                             20550
TELEWORK                        20550
Full_FIPS_Code                      0
ALAND_SQMI                        159
WAREHOUSE_EMPLY                 22951
COURIER_EMPLY                   20346
COURIER_WAGES                   20346
COURIER_NONEMP_ESTAB            15848
COURIER_NONEMP_RCPTOT           15848
CPI                              4182
COURIER_NONEMP_RCPTOT_REAL       4182
DRIVER_NONEMP_ESTAB             19304
DRIVER_NONEMP_RCPTOT            19304
DRIVER_NONEMP_RCPTOT_REAL       20033
POP_DENSITY                       623
UPT_distr_commuters              5791
VMT_per_person                   1469
GDP_per_person                   3597
Charging_Stations_per_person      609
LNMILES_per_person               2671
UPT_per_person                   6385
TRANSIT_USER_COUNT              20550
County_Type                       578
INTERNET_CONNECTIONS            29256
UNEMPLOYED                        288
Labor_Force                       288
TELEWORKERS                     20599
capital_transit_funding          5791
HH_ZERO_VEH                     20542
dtype: int64

#### Exporting data to github

In [24]:
datapath_github = 'C:/Users/hrowe/Documents/FHWA mobility trend report/T4 - Forecasting/Year 2/FHWA_Mobility_Trends/Year 2 County Level/Modeling_Year1_County_level/Data/'

In [25]:
df.to_csv(datapath_github + 'T6_county_1_12_24.csv') #added HH_ZERO_VEH