## Run this notebook second when creating the UPT/transit indicator. It creates the distribution

In [10]:
import pandas as pd

In [11]:
#read in ACS rider weights
rider_tms = pd.read_csv('households without vehicle by county.csv').dropna()
rider_tms

       ST  YEAR  FIPS_CODE  ZERO_CAR_HOUSEHOLDS  PERCENT_WITHOUT_VEHICLE
0      39  2015    39165.0                60600                 0.045795
1      41  2015    41051.0              1227327                 0.135738
2      41  2015    41063.0                 8598                 0.062778
3      37  2013    37063.0               291620                 0.083919
4      37  2013    37141.0                27536                 0.043982
...    ..   ...        ...                  ...                      ...
48208  55  2020    55069.0                19070                 0.034154
48209  56  2020    56007.0                 3850                 0.017724
48210  56  2020    56017.0                 5406                 0.056620
48211   4  2020     4015.0               294937                 0.062374
48212   5  2020     5121.0                14568                 0.053391

[47701 rows x 5 columns]

In [12]:
rider_tms['FIPS_CODE'] = rider_tms['FIPS_CODE'].astype(int)
rider_tms['FIPS_CODE'] = rider_tms['FIPS_CODE'].astype(str)

FIPS_county, FIPS_state = [], []

for i in range(len(rider_tms)):
    fip_code = rider_tms.iloc[i]['FIPS_CODE']
    if len(fip_code) == 5:
        FIPS_county.append(fip_code[2:])
        FIPS_state.append(fip_code[0:2])
    elif len(fip_code) == 4:
        FIPS_county.append(fip_code[-3:])
        FIPS_state.append('0' + fip_code[0])

rider_tms['STATE_CODE'] = FIPS_state
rider_tms['COUNTY_CODE'] = FIPS_county

rider_tms['STATE_CODE'] = rider_tms['STATE_CODE'].astype(int)
rider_tms['COUNTY_CODE'] = rider_tms['COUNTY_CODE'].astype(int)
rider_tms['YEAR'] = rider_tms['YEAR'].astype(str)
rider_tms = rider_tms[['STATE_CODE', 'COUNTY_CODE', 'FIPS_CODE', 'YEAR', 'ZERO_CAR_HOUSEHOLDS']]

rider_tms['FIPS_CODE'] = rider_tms['FIPS_CODE'].astype(float)

rider_tms

C:\Users\zapate\AppData\Local\Temp\ipykernel_41912\3552029806.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rider_tms['FIPS_CODE'] = rider_tms['FIPS_CODE'].astype(float)

       STATE_CODE  COUNTY_CODE  FIPS_CODE  YEAR  ZERO_CAR_HOUSEHOLDS
0              39          165    39165.0  2015                60600
1              41           51    41051.0  2015              1227327
2              41           63    41063.0  2015                 8598
3              37           63    37063.0  2013               291620
4              37          141    37141.0  2013                27536
...           ...          ...        ...   ...                  ...
48208          55           69    55069.0  2020                19070
48209          56            7    56007.0  2020                 3850
48210          56           17    56017.0  2020                 5406
48211           4           15     4015.0  2020               294937
48212           5          121     5121.0  2020                14568

[47701 rows x 5 columns]

In [13]:
UPT_count = pd.read_csv('UPT_2002_2023_final_capital funding.csv').iloc[:,1:].drop_duplicates()
UPT_count = UPT_count.drop(columns = [ '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999',
       '2000', '2001'])
unique_fips_uza = UPT_count[['CountyFIPS', 'UZA_CODE']].drop_duplicates()
unique_fips_uza

     CountyFIPS  UZA_CODE
0       34003.0       1.0
1       34013.0       1.0
2       34017.0       1.0
3       34021.0       1.0
4       34023.0       1.0
..          ...       ...
656     26115.0     490.0
657     17183.0     492.0
658      6017.0     601.0
659     32005.0     601.0
660     48167.0     602.0

[661 rows x 2 columns]

In [25]:
unique_fips_uza[unique_fips_uza['CountyFIPS'] == 6059]

     CountyFIPS  UZA_CODE
17       6059.0       2.0
248      6059.0      69.0

In [14]:
UPT_count

,UZA,2002,2003,2004,2005,2006,2007,2008,2009,2010,...,2015,2016,2017,2018,2019,2020,2021,2022,CountyFIPS,UZA_CODE
0,1.0,4.285458e+09,4.751507e+09,4.377674e+09,4.364977e+09,4.183421e+09,4.380074e+09,5.808242e+09,6.186098e+09,5.658014e+09,...,4.622081e+09,4.746774e+09,4.947030e+09,6.179188e+09,7.406262e+09,6.175369e+09,5.740923e+09,6.339105e+09,34003.0,1.0
1,1.0,4.285458e+09,4.751507e+09,4.377674e+09,4.364977e+09,4.183421e+09,4.380074e+09,5.808242e+09,6.186098e+09,5.658014e+09,...,4.622081e+09,4.746774e+09,4.947030e+09,6.179188e+09,7.406262e+09,6.175369e+09,5.740923e+09,6.339105e+09,34013.0,1.0
2,1.0,4.285458e+09,4.751507e+09,4.377674e+09,4.364977e+09,4.183421e+09,4.380074e+09,5.808242e+09,6.186098e+09,5.658014e+09,...,4.622081e+09,4.746774e+09,4.947030e+09,6.179188e+09,7.406262e+09,6.175369e+09,5.740923e+09,6.339105e+09,34017.0,1.0
3,1.0,4.285458e+09,4.751507e+09,4.377674e+09,4.364977e+09,4.183421e+09,4.380074e+09,5.808242e+09,6.186098e+09,5.658014e+09,...,4.622081e+09,4.746774e+09,4.947030e+09,6.179188e+09,7.406262e+09,6.175369e+09,5.740923e+09,6.339105e+09,34021.0,1.0
4,1.0,4.285458e+09,4.751507e+09,4.377674e+09,4.364977e+09,4.183421e+09,4.380074e+09,5.808242e+09,6.186098e+09,5.658014e+09,...,4.622081e+09,4.746774e+09,4.947030e+09,6.179188e+09,7.406262e+09,6.175369e+09,5.740923e+09,6.339105e+09,34023.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
656,490.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,26115.0,490.0
657,492.0,0.000000e+00,0.000000e+00,0.000000e+00,5.620500e+04,5.818400e+04,0.000000e+00,8.914800e+05,3.481390e+05,1.813150e+05,...,2.799100e+04,1.147189e+06,2.907783e+06,3.761370e+05,8.462840e+05,0.000000e+00,0.000000e+00,2.103165e+06,17183.0,492.0
658,601.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.032205e+06,5.398230e+05,1.298170e+05,3.025060e+05,1.243214e+06,4.728870e+05,1.099460e+05,4.304512e+06,6017.0,601.0
659,601.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.032205e+06,5.398230e+05,1.298170e+05,3.025060e+05,1.243214e+06,4.728870e+05,1.099460e+05,4.304512e+06,32005.0,601.0
660,602.0,2.567584e+06,2.457643e+06,0.000000e+00,2.250963e+06,9.833410e+05,9.679330e+05,0.000000e+00,3.928490e+05,2.280200e+06,...,3.134206e+06,3.350212e+06,4.810218e+06,1.450880e+06,2.373500e+04,8.011500e+04,4.106600e+04,0.000000e+00,48167.0,602.0

In [24]:
UPT_count[UPT_count['UZA'] == 2]

,UZA,2002,2003,2004,2005,2006,2007,2008,2009,2010,...,2015,2016,2017,2018,2019,2020,2021,2022,CountyFIPS,UZA_CODE
17,2.0,458936817.0,418819286.0,467759158.0,752301520.0,517936781.0,709754021.0,737472767.0,877648438.0,893748681.0,...,2.148771e+09,1.903841e+09,1.664467e+09,1.926610e+09,1.923264e+09,2.463737e+09,2.283891e+09,2.045564e+09,6059.0,2.0

In [16]:
#join uza code
rider_tms_fips = rider_tms.merge(unique_fips_uza, how = 'left', left_on = 'FIPS_CODE', right_on = 'CountyFIPS')
#sum by UZA
sum_table = rider_tms_fips[['UZA_CODE', 'ZERO_CAR_HOUSEHOLDS', 'YEAR']].dropna().groupby(['UZA_CODE','YEAR']).sum().reset_index()
rider_tms_fips = rider_tms_fips.merge(sum_table.rename(columns = {'ZERO_CAR_HOUSEHOLDS':'SUM_HOUSEHOLDS'}),
                                      how = 'left', left_on = ['UZA_CODE','YEAR'], right_on = ['UZA_CODE','YEAR'])
rider_tms_fips['percent_dist'] = rider_tms_fips['ZERO_CAR_HOUSEHOLDS'] / rider_tms_fips['SUM_HOUSEHOLDS']
rider_tms_fips['percent_dist'] = rider_tms_fips['percent_dist'].fillna(1)
rider_tms_fips.sort_values(by=['STATE_CODE', 'COUNTY_CODE'])

,STATE_CODE,COUNTY_CODE,FIPS_CODE,YEAR,ZERO_CAR_HOUSEHOLDS,CountyFIPS,UZA_CODE,SUM_HOUSEHOLDS,percent_dist
2356,1,1,1001.0,2011,68616,1001.0,142.0,372936.0,0.183989
3837,1,1,1001.0,2005,58416,1001.0,142.0,319266.0,0.182970
5099,1,1,1001.0,2015,36180,1001.0,142.0,481375.0,0.075160
8555,1,1,1001.0,2013,45480,1001.0,142.0,577590.0,0.078741
12857,1,1,1001.0,2017,35412,1001.0,142.0,569427.0,0.062189
...,...,...,...,...,...,...,...,...,...
38385,56,45,56045.0,2019,4076,NaN,NaN,NaN,1.000000
43343,56,45,56045.0,2014,3526,NaN,NaN,NaN,1.000000
44549,56,45,56045.0,2012,2106,NaN,NaN,NaN,1.000000
44600,56,45,56045.0,2020,1330,NaN,NaN,NaN,1.000000
47913,56,45,56045.0,2016,2334,NaN,NaN,NaN,1.000000

In [30]:
rider_tms_fips[rider_tms_fips['FIPS_CODE'] == 6059]

,STATE_CODE,COUNTY_CODE,FIPS_CODE,YEAR,ZERO_CAR_HOUSEHOLDS,CountyFIPS,UZA_CODE,SUM_HOUSEHOLDS,percent_dist
766,6,59,6059.0,2018,1595050,6059.0,2.0,1595050.0,1.0
767,6,59,6059.0,2018,1595050,6059.0,69.0,1595050.0,1.0
1502,6,59,6059.0,2012,1625241,6059.0,2.0,1625241.0,1.0
1503,6,59,6059.0,2012,1625241,6059.0,69.0,1625241.0,1.0
3162,6,59,6059.0,2014,1592485,6059.0,2.0,1592485.0,1.0
3163,6,59,6059.0,2014,1592485,6059.0,69.0,1592485.0,1.0
12887,6,59,6059.0,2019,1510328,6059.0,2.0,1510328.0,1.0
12888,6,59,6059.0,2019,1510328,6059.0,69.0,1510328.0,1.0
13548,6,59,6059.0,2020,1786460,6059.0,2.0,1786460.0,1.0
13549,6,59,6059.0,2020,1786460,6059.0,69.0,1786460.0,1.0
34322,6,59,6059.0,2016,1428779,6059.0,2.0,1428779.0,1.0
34323,6,59,6059.0,2016,1428779,6059.0,69.0,1428779.0,1.0
42692,6,59,6059.0,2017,1656561,6059.0,2.0,1656561.0,1.0
42693,6,59,6059.0,2017,1656561,6059.0,69.0,1656561.0,1.0
43937,6,59,6059.0,2013,1714121,6059.0,2.0,1714121.0,1.0
43938,6,59,6059.0,2013,1714121,6059.0,69.0,1714121.0,1.0
46891,6,59,6059.0,2021,1748858,6059.0,2.0,1748858.0,1.0
46892,6,59,6059.0,2021,1748858,6059.0,69.0,1748858.0,1.0
46895,6,59,6059.0,2015,1637344,6059.0,2.0,1637344.0,1.0
46896,6,59,6059.0,2015,1637344,6059.0,69.0,1637344.0,1.0

In [31]:
UPT_count.columns = ['UZA', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019',
       '2020', '2021', '2022', 'CountyFIPS', 'UZA_CODE']

UPT_count_melt = pd.melt(UPT_count, id_vars = ['UZA','UZA_CODE', 'CountyFIPS'],
                         value_vars = ['2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019',
       '2020', '2021', '2022']).rename(columns={'variable':'YEAR', 'value':'UPT', 'CountyFIPS':'FIPS_CODE'})
UPT_count_melt = UPT_count_melt[['YEAR', 'UPT', 'UZA_CODE']]
UPT_count_melt

       YEAR           UPT  UZA_CODE
0      2002  4.285458e+09       1.0
1      2002  4.285458e+09       1.0
2      2002  4.285458e+09       1.0
3      2002  4.285458e+09       1.0
4      2002  4.285458e+09       1.0
...     ...           ...       ...
13876  2022  0.000000e+00     490.0
13877  2022  2.103165e+06     492.0
13878  2022  4.304512e+06     601.0
13879  2022  4.304512e+06     601.0
13880  2022  0.000000e+00     602.0

[13881 rows x 3 columns]

In [32]:
UPT_count_melt[UPT_count_melt['UZA_CODE'] == 2]

       YEAR           UPT  UZA_CODE
17     2002  4.589368e+08       2.0
678    2003  4.188193e+08       2.0
1339   2004  4.677592e+08       2.0
2000   2005  7.523015e+08       2.0
2661   2006  5.179368e+08       2.0
3322   2007  7.097540e+08       2.0
3983   2008  7.374728e+08       2.0
4644   2009  8.776484e+08       2.0
5305   2010  8.937487e+08       2.0
5966   2011  1.019114e+09       2.0
6627   2012  1.102551e+09       2.0
7288   2013  1.070049e+09       2.0
7949   2014  1.635023e+09       2.0
8610   2015  2.148771e+09       2.0
9271   2016  1.903841e+09       2.0
9932   2017  1.664467e+09       2.0
10593  2018  1.926610e+09       2.0
11254  2019  1.923264e+09       2.0
11915  2020  2.463737e+09       2.0
12576  2021  2.283891e+09       2.0
13237  2022  2.045564e+09       2.0

In [33]:
UPT_final = UPT_count_melt.merge(rider_tms_fips, how = 'left', left_on = ['UZA_CODE', 'YEAR'], right_on= ['UZA_CODE', 'YEAR'])

In [34]:
UPT_final['distributed_UPT'] = UPT_final['UPT'] * UPT_final['percent_dist']
UPT_final

,YEAR,UPT,UZA_CODE,STATE_CODE,COUNTY_CODE,FIPS_CODE,ZERO_CAR_HOUSEHOLDS,CountyFIPS,SUM_HOUSEHOLDS,percent_dist,distributed_UPT
0,2002,4.285458e+09,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2002,4.285458e+09,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2002,4.285458e+09,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2002,4.285458e+09,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2002,4.285458e+09,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
42022,2022,0.000000e+00,490.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42023,2022,2.103165e+06,492.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42024,2022,4.304512e+06,601.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42025,2022,4.304512e+06,601.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42026,2022,0.000000e+00,602.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
UPT_final[UPT_final['FIPS_CODE'] == 6059]

,YEAR,UPT,UZA_CODE,STATE_CODE,COUNTY_CODE,FIPS_CODE,ZERO_CAR_HOUSEHOLDS,CountyFIPS,SUM_HOUSEHOLDS,percent_dist,distributed_UPT
14725,2012,1.102551e+09,2.0,6.0,59.0,6059.0,1625241.0,6059.0,1625241.0,1.0,1.102551e+09
16332,2012,0.000000e+00,69.0,6.0,59.0,6059.0,1625241.0,6059.0,1625241.0,1.0,0.000000e+00
17418,2013,1.070049e+09,2.0,6.0,59.0,6059.0,1714121.0,6059.0,1714121.0,1.0,1.070049e+09
19025,2013,0.000000e+00,69.0,6.0,59.0,6059.0,1714121.0,6059.0,1714121.0,1.0,0.000000e+00
20111,2014,1.635023e+09,2.0,6.0,59.0,6059.0,1592485.0,6059.0,1592485.0,1.0,1.635023e+09
21718,2014,1.130960e+06,69.0,6.0,59.0,6059.0,1592485.0,6059.0,1592485.0,1.0,1.130960e+06
22804,2015,2.148771e+09,2.0,6.0,59.0,6059.0,1637344.0,6059.0,1637344.0,1.0,2.148771e+09
24411,2015,0.000000e+00,69.0,6.0,59.0,6059.0,1637344.0,6059.0,1637344.0,1.0,0.000000e+00
25497,2016,1.903841e+09,2.0,6.0,59.0,6059.0,1428779.0,6059.0,1428779.0,1.0,1.903841e+09
27104,2016,0.000000e+00,69.0,6.0,59.0,6059.0,1428779.0,6059.0,1428779.0,1.0,0.000000e+00
28190,2017,1.664467e+09,2.0,6.0,59.0,6059.0,1656561.0,6059.0,1656561.0,1.0,1.664467e+09
29797,2017,0.000000e+00,69.0,6.0,59.0,6059.0,1656561.0,6059.0,1656561.0,1.0,0.000000e+00
30883,2018,1.926610e+09,2.0,6.0,59.0,6059.0,1595050.0,6059.0,1595050.0,1.0,1.926610e+09
32490,2018,4.802120e+05,69.0,6.0,59.0,6059.0,1595050.0,6059.0,1595050.0,1.0,4.802120e+05
33576,2019,1.923264e+09,2.0,6.0,59.0,6059.0,1510328.0,6059.0,1510328.0,1.0,1.923264e+09
35183,2019,1.798080e+05,69.0,6.0,59.0,6059.0,1510328.0,6059.0,1510328.0,1.0,1.798080e+05
36269,2020,2.463737e+09,2.0,6.0,59.0,6059.0,1786460.0,6059.0,1786460.0,1.0,2.463737e+09
37876,2020,2.155950e+05,69.0,6.0,59.0,6059.0,1786460.0,6059.0,1786460.0,1.0,2.155950e+05
38962,2021,2.283891e+09,2.0,6.0,59.0,6059.0,1748858.0,6059.0,1748858.0,1.0,2.283891e+09
40569,2021,0.000000e+00,69.0,6.0,59.0,6059.0,1748858.0,6059.0,1748858.0,1.0,0.000000e+00

In [37]:
UPT_final = UPT_final.dropna()

In [38]:
UPT_final_filtered = UPT_final[UPT_final['YEAR'] != '2002']
UPT_final_filtered = UPT_final_filtered[UPT_final_filtered['YEAR'] != '2003']
UPT_final_filtered = UPT_final_filtered[UPT_final_filtered['YEAR'] != '2004']

In [39]:
UPT_final_filtered[UPT_final_filtered['FIPS_CODE'] == 34003]

,YEAR,UPT,UZA_CODE,STATE_CODE,COUNTY_CODE,FIPS_CODE,ZERO_CAR_HOUSEHOLDS,CountyFIPS,SUM_HOUSEHOLDS,percent_dist,distributed_UPT
1990,2005,4.364977e+09,1.0,34.0,3.0,34003.0,677201.0,34003.0,70109566.0,0.009659,4.216210e+07
2005,2005,4.364977e+09,1.0,34.0,3.0,34003.0,677201.0,34003.0,70109566.0,0.009659,4.216210e+07
2020,2005,4.364977e+09,1.0,34.0,3.0,34003.0,677201.0,34003.0,70109566.0,0.009659,4.216210e+07
2035,2005,4.364977e+09,1.0,34.0,3.0,34003.0,677201.0,34003.0,70109566.0,0.009659,4.216210e+07
2050,2005,4.364977e+09,1.0,34.0,3.0,34003.0,677201.0,34003.0,70109566.0,0.009659,4.216210e+07
...,...,...,...,...,...,...,...,...,...,...,...
38887,2021,5.740923e+09,1.0,34.0,3.0,34003.0,683043.0,34003.0,78468896.0,0.008705,4.997264e+07
38904,2021,5.740923e+09,1.0,34.0,3.0,34003.0,683043.0,34003.0,78468896.0,0.008705,4.997264e+07
38921,2021,5.740923e+09,1.0,34.0,3.0,34003.0,683043.0,34003.0,78468896.0,0.008705,4.997264e+07
38938,2021,5.740923e+09,1.0,34.0,3.0,34003.0,683043.0,34003.0,78468896.0,0.008705,4.997264e+07
38955,2021,5.740923e+09,1.0,34.0,3.0,34003.0,683043.0,34003.0,78468896.0,0.008705,4.997264e+07

In [40]:
UPT_final_filtered.drop_duplicates()

,YEAR,UPT,UZA_CODE,STATE_CODE,COUNTY_CODE,FIPS_CODE,ZERO_CAR_HOUSEHOLDS,CountyFIPS,SUM_HOUSEHOLDS,percent_dist,distributed_UPT
1983,2005,4.364977e+09,1.0,34.0,35.0,34035.0,120221.0,34035.0,70109566.0,0.001715,7.484883e+06
1984,2005,4.364977e+09,1.0,36.0,81.0,36081.0,13910437.0,36081.0,70109566.0,0.198410,8.660549e+08
1985,2005,4.364977e+09,1.0,34.0,13.0,34013.0,2653899.0,34013.0,70109566.0,0.037854,1.652301e+08
1986,2005,4.364977e+09,1.0,36.0,59.0,36059.0,173882.0,36059.0,70109566.0,0.002480,1.082578e+07
1987,2005,4.364977e+09,1.0,36.0,5.0,36005.0,9525758.0,36005.0,70109566.0,0.135870,5.930676e+08
...,...,...,...,...,...,...,...,...,...,...,...
41359,2021,0.000000e+00,490.0,26.0,115.0,26115.0,140361.0,26115.0,140361.0,1.000000,0.000000e+00
41360,2021,0.000000e+00,492.0,17.0,183.0,17183.0,95736.0,17183.0,95736.0,1.000000,0.000000e+00
41361,2021,1.099460e+05,601.0,6.0,17.0,6017.0,115455.0,6017.0,175431.0,0.658122,7.235788e+04
41362,2021,1.099460e+05,601.0,32.0,5.0,32005.0,59976.0,32005.0,175431.0,0.341878,3.758812e+04
41365,2021,4.106600e+04,602.0,48.0,167.0,48167.0,249554.0,48167.0,249554.0,1.000000,4.106600e+04

In [41]:
UPT_final_filtered[UPT_final_filtered['FIPS_CODE'] == 6059]

,YEAR,UPT,UZA_CODE,STATE_CODE,COUNTY_CODE,FIPS_CODE,ZERO_CAR_HOUSEHOLDS,CountyFIPS,SUM_HOUSEHOLDS,percent_dist,distributed_UPT
14725,2012,1.102551e+09,2.0,6.0,59.0,6059.0,1625241.0,6059.0,1625241.0,1.0,1.102551e+09
16332,2012,0.000000e+00,69.0,6.0,59.0,6059.0,1625241.0,6059.0,1625241.0,1.0,0.000000e+00
17418,2013,1.070049e+09,2.0,6.0,59.0,6059.0,1714121.0,6059.0,1714121.0,1.0,1.070049e+09
19025,2013,0.000000e+00,69.0,6.0,59.0,6059.0,1714121.0,6059.0,1714121.0,1.0,0.000000e+00
20111,2014,1.635023e+09,2.0,6.0,59.0,6059.0,1592485.0,6059.0,1592485.0,1.0,1.635023e+09
21718,2014,1.130960e+06,69.0,6.0,59.0,6059.0,1592485.0,6059.0,1592485.0,1.0,1.130960e+06
22804,2015,2.148771e+09,2.0,6.0,59.0,6059.0,1637344.0,6059.0,1637344.0,1.0,2.148771e+09
24411,2015,0.000000e+00,69.0,6.0,59.0,6059.0,1637344.0,6059.0,1637344.0,1.0,0.000000e+00
25497,2016,1.903841e+09,2.0,6.0,59.0,6059.0,1428779.0,6059.0,1428779.0,1.0,1.903841e+09
27104,2016,0.000000e+00,69.0,6.0,59.0,6059.0,1428779.0,6059.0,1428779.0,1.0,0.000000e+00
28190,2017,1.664467e+09,2.0,6.0,59.0,6059.0,1656561.0,6059.0,1656561.0,1.0,1.664467e+09
29797,2017,0.000000e+00,69.0,6.0,59.0,6059.0,1656561.0,6059.0,1656561.0,1.0,0.000000e+00
30883,2018,1.926610e+09,2.0,6.0,59.0,6059.0,1595050.0,6059.0,1595050.0,1.0,1.926610e+09
32490,2018,4.802120e+05,69.0,6.0,59.0,6059.0,1595050.0,6059.0,1595050.0,1.0,4.802120e+05
33576,2019,1.923264e+09,2.0,6.0,59.0,6059.0,1510328.0,6059.0,1510328.0,1.0,1.923264e+09
35183,2019,1.798080e+05,69.0,6.0,59.0,6059.0,1510328.0,6059.0,1510328.0,1.0,1.798080e+05
36269,2020,2.463737e+09,2.0,6.0,59.0,6059.0,1786460.0,6059.0,1786460.0,1.0,2.463737e+09
37876,2020,2.155950e+05,69.0,6.0,59.0,6059.0,1786460.0,6059.0,1786460.0,1.0,2.155950e+05
38962,2021,2.283891e+09,2.0,6.0,59.0,6059.0,1748858.0,6059.0,1748858.0,1.0,2.283891e+09
40569,2021,0.000000e+00,69.0,6.0,59.0,6059.0,1748858.0,6059.0,1748858.0,1.0,0.000000e+00

In [44]:
UPT_final_filtered = UPT_final_filtered.groupby(['YEAR', 'STATE_CODE', 'COUNTY_CODE', 'FIPS_CODE']).sum('distributed_UPT').reset_index()

In [45]:
UPT_final_filtered[UPT_final_filtered['FIPS_CODE'] == 6059]

,YEAR,STATE_CODE,COUNTY_CODE,FIPS_CODE,UPT,UZA_CODE,ZERO_CAR_HOUSEHOLDS,CountyFIPS,SUM_HOUSEHOLDS,percent_dist,distributed_UPT
2605,2012,6.0,59.0,6059.0,1.102551e+09,71.0,3250482.0,12118.0,3250482.0,2.0,1.102551e+09
3216,2013,6.0,59.0,6059.0,1.070049e+09,71.0,3428242.0,12118.0,3428242.0,2.0,1.070049e+09
3827,2014,6.0,59.0,6059.0,1.636154e+09,71.0,3184970.0,12118.0,3184970.0,2.0,1.636154e+09
4438,2015,6.0,59.0,6059.0,2.148771e+09,71.0,3274688.0,12118.0,3274688.0,2.0,2.148771e+09
5049,2016,6.0,59.0,6059.0,1.903841e+09,71.0,2857558.0,12118.0,2857558.0,2.0,1.903841e+09
5660,2017,6.0,59.0,6059.0,1.664467e+09,71.0,3313122.0,12118.0,3313122.0,2.0,1.664467e+09
6271,2018,6.0,59.0,6059.0,1.927090e+09,71.0,3190100.0,12118.0,3190100.0,2.0,1.927090e+09
6882,2019,6.0,59.0,6059.0,1.923444e+09,71.0,3020656.0,12118.0,3020656.0,2.0,1.923444e+09
7493,2020,6.0,59.0,6059.0,2.463953e+09,71.0,3572920.0,12118.0,3572920.0,2.0,2.463953e+09
8104,2021,6.0,59.0,6059.0,2.283891e+09,71.0,3497716.0,12118.0,3497716.0,2.0,2.283891e+09

In [46]:
UPT_final_filtered[['YEAR', 'STATE_CODE', 'COUNTY_CODE','FIPS_CODE', 'distributed_UPT']].rename(columns = {'distributed_UPT':'Capital Funding'}).drop_duplicates().to_csv('distributed_capital_funding_data by zero_car_households1_9.csv', index = False)