## When creating the transit variable, use run this notebook first

In [1]:
import pandas as pd

In [2]:
UPT_df = pd.read_csv('Transit funding by uza.csv')
cxw = pd.read_csv('FTA_UZA_County_Xwalk_Ref - ZP UPDATE.csv', )

In [3]:
UPT_df.head()

,Last Report Year,NTD ID,UZA,Legacy NTD ID,Agency Name,Agency Status,Reporter Type,Reporting Module,City,State,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,2022,1.0,14.0,1,King County Department of Metro Transit (KCM),Active,Full Reporter,Urban,Seattle,WA,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2022,1.0,14.0,1,King County Department of Metro Transit (KCM),Active,Full Reporter,Urban,Seattle,WA,...,2921260.0,3029359.0,218258.0,3887981.0,4381003.0,10144353.0,11496520.0,7309128.0,11580331.0,5426122.0
2,2022,1.0,14.0,1,King County Department of Metro Transit (KCM),Active,Full Reporter,Urban,Seattle,WA,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
3,2022,1.0,14.0,1,King County Department of Metro Transit (KCM),Active,Full Reporter,Urban,Seattle,WA,...,NaN,NaN,NaN,1746717.0,5994469.0,17273857.0,16284590.0,1038487.0,151461.0,144345.0
4,2022,1.0,14.0,1,King County Department of Metro Transit (KCM),Active,Full Reporter,Urban,Seattle,WA,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
UPT_df.dtypes

Last Report Year       int64
NTD ID               float64
UZA                  float64
Legacy NTD ID         object
Agency Name           object
Agency Status         object
Reporter Type         object
Reporting Module      object
City                  object
State                 object
Census Year            int64
UZA Name              object
UACE Code            float64
UZA Area SQ Miles    float64
UZA Population         int64
2022 Status           object
Mode                  object
1992                 float64
1993                 float64
1994                 float64
1995                 float64
1996                 float64
1997                 float64
1998                 float64
1999                 float64
2000                 float64
2001                 float64
2002                 float64
2003                 float64
2004                 float64
2005                 float64
2006                 float64
2007                 float64
2008                 float64
2009                 float64
2010                 float64
2011                 float64
2012                 float64
2013                 float64
2014                 float64
2015                 float64
2016                 float64
2017                 float64
2018                 float64
2019                 float64
2020                 float64
2021                 float64
2022                 float64
dtype: object

In [5]:
UPT_df.columns

Index(['Last Report Year', 'NTD ID', 'UZA', 'Legacy NTD ID', 'Agency Name',
       'Agency Status', 'Reporter Type', 'Reporting Module', 'City', 'State',
       'Census Year', 'UZA Name', 'UACE Code', 'UZA Area SQ Miles',
       'UZA Population', '2022 Status', 'Mode', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022'],
      dtype='object')

In [6]:
#clean and sum across
UPT_df_stg = UPT_df.drop(columns = ['Last Report Year', 'NTD ID', 'Legacy NTD ID', 'Agency Name',
       'Agency Status', 'Reporter Type', 'Reporting Module', 'City', 'State',
       'Census Year', 'UZA Name', 'UACE Code', 'UZA Area SQ Miles',
       'UZA Population', '2022 Status',])
UPT_df_stg = UPT_df_stg.groupby(['UZA']).sum()
UPT_df_stg.reset_index(inplace=True)

In [7]:
#unique UZA summed by all transit types
UPT_df_stg

,UZA,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,0.0,0.000000e+00,2.456490e+05,0.000000e+00,2.852640e+05,1.588780e+05,1.962100e+05,1.690480e+05,1.619100e+05,6.659000e+04,...,5.284900e+05,0.000000e+00,1.290983e+06,8.627480e+05,2.320640e+06,9.868350e+05,1.630889e+06,1.222389e+06,1.378324e+06,7.426280e+05
1,1.0,1.524053e+09,1.508950e+09,1.652350e+09,1.904403e+09,2.103386e+09,2.491490e+09,2.592699e+09,3.039239e+09,2.849347e+09,...,4.864703e+09,4.472516e+09,4.622081e+09,4.746774e+09,4.947030e+09,6.179188e+09,7.406262e+09,6.175369e+09,5.740923e+09,6.339105e+09
2,2.0,4.924806e+07,3.881764e+08,3.077860e+08,3.782450e+08,2.659798e+08,2.529817e+08,3.040237e+08,2.025735e+08,3.199730e+08,...,1.070049e+09,1.635023e+09,2.148771e+09,1.903841e+09,1.664467e+09,1.926610e+09,1.923264e+09,2.463737e+09,2.283891e+09,2.045564e+09
3,3.0,6.083844e+08,4.778961e+08,4.933917e+08,5.735274e+08,5.422771e+08,3.722367e+08,3.129318e+08,3.766692e+08,5.211371e+08,...,9.654232e+08,8.142990e+08,7.924779e+08,7.618838e+08,7.803314e+08,7.424240e+08,8.130080e+08,1.007165e+09,1.054501e+09,1.333827e+09
4,4.0,1.302409e+08,6.572940e+07,4.458926e+07,1.195382e+08,1.003977e+08,8.484771e+07,6.041269e+07,7.799116e+07,1.122984e+08,...,1.464100e+08,1.187411e+08,1.963839e+08,1.980442e+08,1.679864e+08,2.679203e+08,2.867699e+08,3.337536e+08,3.095239e+08,3.472809e+08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
382,490.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
383,492.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.650200e+05,3.968550e+05,2.799100e+04,1.147189e+06,2.907783e+06,3.761370e+05,8.462840e+05,0.000000e+00,0.000000e+00,2.103165e+06
384,600.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,5.754991e+06,4.796070e+05,1.073262e+06,8.129110e+05,1.670773e+06,4.350889e+06,3.951052e+06,5.161689e+06,4.356173e+06
385,601.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,1.032205e+06,5.398230e+05,1.298170e+05,3.025060e+05,1.243214e+06,4.728870e+05,1.099460e+05,4.304512e+06
386,602.0,6.380390e+05,2.797480e+05,0.000000e+00,5.200000e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,3.055053e+06,6.593220e+05,3.134206e+06,3.350212e+06,4.810218e+06,1.450880e+06,2.373500e+04,8.011500e+04,4.106600e+04,0.000000e+00

In [8]:
cxw.head()

,CountyFIPS,1FTA_UZA_Code,1FTA_UZA_Desc,2FTA_UZA_Code,2FTA_UZA_Desc,3FTA_UZA_Code,3FTA_UZA_Desc,4FTA_UZA_Code,4FTA_UZA_Desc
0,1001,142,"Montgomery, AL",NaN,NaN,NaN,NaN,NaN,NaN
1,1003,113,"Pensacola, FL-AL",458.0,"Daphne-Fairhope, AL",NaN,NaN,NaN,NaN
2,1009,55,"Birmingham, AL",NaN,NaN,NaN,NaN,NaN,NaN
3,1015,360,"Anniston-Oxford, AL",NaN,NaN,NaN,NaN,NaN,NaN
4,1033,368,"Florence, AL",NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
cxw[cxw['CountyFIPS'] == 6059]

,CountyFIPS,1FTA_UZA_Code,1FTA_UZA_Desc,2FTA_UZA_Code,2FTA_UZA_Desc,3FTA_UZA_Code,3FTA_UZA_Desc,4FTA_UZA_Code,4FTA_UZA_Desc
51,6059,69,"Mission Viejo-Lake Forest-San Clemente, CA",2.0,"Los Angeles-Long Beach-Anaheim, CA",NaN,NaN,NaN,NaN

In [9]:
#adjusting cxw data
df1 = cxw[['CountyFIPS','1FTA_UZA_Code']].rename(columns={'1FTA_UZA_Code': 'UZA_CODE'})
df2 = cxw[['CountyFIPS','2FTA_UZA_Code']].rename(columns={'2FTA_UZA_Code': 'UZA_CODE'})
df3 = cxw[['CountyFIPS','3FTA_UZA_Code']].rename(columns={'3FTA_UZA_Code': 'UZA_CODE'})
df4 = cxw[['CountyFIPS','4FTA_UZA_Code']].rename(columns={'4FTA_UZA_Code': 'UZA_CODE'})
FIPS_UZA = pd.concat([df1, df2, df3, df4]).dropna()
FIPS_UZA

     CountyFIPS  UZA_CODE
0          1001     142.0
1          1003     113.0
2          1009      55.0
3          1015     360.0
4          1033     368.0
..          ...       ...
353       34021     429.0
431       39017     308.0
514       45091     295.0
56         6077     102.0
67         6111     168.0

[759 rows x 2 columns]

In [13]:
FIPS_UZA[FIPS_UZA['CountyFIPS'] == 6059]

    CountyFIPS  UZA_CODE
51        6059      69.0
51        6059       2.0

In [14]:
UPT_df = UPT_df_stg.merge(FIPS_UZA, how='left', left_on = 'UZA', right_on = 'UZA_CODE')

In [15]:
UPT_df

,UZA,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2015,2016,2017,2018,2019,2020,2021,2022,CountyFIPS,UZA_CODE
0,0.0,0.000000e+00,2.456490e+05,0.000000e+00,2.852640e+05,1.588780e+05,1.962100e+05,1.690480e+05,1.619100e+05,6.659000e+04,...,1.290983e+06,8.627480e+05,2.320640e+06,9.868350e+05,1.630889e+06,1.222389e+06,1.378324e+06,7.426280e+05,NaN,NaN
1,1.0,1.524053e+09,1.508950e+09,1.652350e+09,1.904403e+09,2.103386e+09,2.491490e+09,2.592699e+09,3.039239e+09,2.849347e+09,...,4.622081e+09,4.746774e+09,4.947030e+09,6.179188e+09,7.406262e+09,6.175369e+09,5.740923e+09,6.339105e+09,34003.0,1.0
2,1.0,1.524053e+09,1.508950e+09,1.652350e+09,1.904403e+09,2.103386e+09,2.491490e+09,2.592699e+09,3.039239e+09,2.849347e+09,...,4.622081e+09,4.746774e+09,4.947030e+09,6.179188e+09,7.406262e+09,6.175369e+09,5.740923e+09,6.339105e+09,34013.0,1.0
3,1.0,1.524053e+09,1.508950e+09,1.652350e+09,1.904403e+09,2.103386e+09,2.491490e+09,2.592699e+09,3.039239e+09,2.849347e+09,...,4.622081e+09,4.746774e+09,4.947030e+09,6.179188e+09,7.406262e+09,6.175369e+09,5.740923e+09,6.339105e+09,34017.0,1.0
4,1.0,1.524053e+09,1.508950e+09,1.652350e+09,1.904403e+09,2.103386e+09,2.491490e+09,2.592699e+09,3.039239e+09,2.849347e+09,...,4.622081e+09,4.746774e+09,4.947030e+09,6.179188e+09,7.406262e+09,6.175369e+09,5.740923e+09,6.339105e+09,34021.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
684,492.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,2.799100e+04,1.147189e+06,2.907783e+06,3.761370e+05,8.462840e+05,0.000000e+00,0.000000e+00,2.103165e+06,17183.0,492.0
685,600.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,4.796070e+05,1.073262e+06,8.129110e+05,1.670773e+06,4.350889e+06,3.951052e+06,5.161689e+06,4.356173e+06,NaN,NaN
686,601.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.032205e+06,5.398230e+05,1.298170e+05,3.025060e+05,1.243214e+06,4.728870e+05,1.099460e+05,4.304512e+06,6017.0,601.0
687,601.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.032205e+06,5.398230e+05,1.298170e+05,3.025060e+05,1.243214e+06,4.728870e+05,1.099460e+05,4.304512e+06,32005.0,601.0
688,602.0,6.380390e+05,2.797480e+05,0.000000e+00,5.200000e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,3.134206e+06,3.350212e+06,4.810218e+06,1.450880e+06,2.373500e+04,8.011500e+04,4.106600e+04,0.000000e+00,48167.0,602.0

In [19]:
UPT_df.groupby(['CountyFIPS']).sum().reset_index()

,CountyFIPS,UZA,1992,1993,1994,1995,1996,1997,1998,1999,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,UZA_CODE
0,1001.0,142.0,1629140.0,2914618.0,1509770.0,650448.0,330023.0,222019.0,2042357.0,5732483.0,...,10060.0,725179.0,585003.0,16614.0,121376.0,299703.0,258672.0,285968.0,773318.0,142.0
1,1003.0,571.0,508474.0,2264895.0,224993.0,236806.0,2921741.0,320035.0,1071795.0,1493942.0,...,1346887.0,4793290.0,818945.0,1037201.0,1538140.0,531092.0,327071.0,442466.0,2346414.0,571.0
2,1009.0,55.0,628326.0,891309.0,1775882.0,3711375.0,3601901.0,0.0,2127031.0,3388317.0,...,7211907.0,239649.0,2107747.0,8967668.0,16225631.0,6939220.0,2605573.0,11276135.0,15132022.0,55.0
3,1033.0,368.0,66503.0,123111.0,46927.0,145329.0,129741.0,123662.0,39844.0,145638.0,...,57603.0,159466.0,0.0,0.0,135835.0,72301.0,337737.0,99288.0,259044.0,368.0
4,1051.0,142.0,1629140.0,2914618.0,1509770.0,650448.0,330023.0,222019.0,2042357.0,5732483.0,...,10060.0,725179.0,585003.0,16614.0,121376.0,299703.0,258672.0,285968.0,773318.0,142.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,55131.0,35.0,19812412.0,4013247.0,8940168.0,6254506.0,29700024.0,14040448.0,9157834.0,3079370.0,...,19689744.0,25006352.0,37561364.0,55209524.0,51476480.0,26251889.0,3758340.0,9543004.0,25683786.0,35.0
607,55133.0,35.0,19812412.0,4013247.0,8940168.0,6254506.0,29700024.0,14040448.0,9157834.0,3079370.0,...,19689744.0,25006352.0,37561364.0,55209524.0,51476480.0,26251889.0,3758340.0,9543004.0,25683786.0,35.0
608,55139.0,165.0,33920.0,1914026.0,2055821.0,182894.0,130460.0,188465.0,147123.0,218864.0,...,22718.0,0.0,0.0,1445465.0,893428.0,4518197.0,2612955.0,2718352.0,2700188.0,165.0
609,56021.0,377.0,229051.0,110685.0,22398.0,10204.0,92267.0,26501.0,20918.0,436352.0,...,244512.0,516945.0,596114.0,183890.0,787163.0,250663.0,191175.0,78427.0,1458054.0,377.0
610,56025.0,424.0,8991.0,3950.0,4875.0,5000.0,13978.0,0.0,0.0,0.0,...,69595.0,8574.0,56197.0,337069.0,209721.0,156040.0,149182.0,0.0,62232.0,424.0

In [17]:
UPT_df[UPT_df['CountyFIPS'] == 6059
       ]

,UZA,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2015,2016,2017,2018,2019,2020,2021,2022,CountyFIPS,UZA_CODE
18,2.0,49248056.0,388176431.0,307785966.0,378244985.0,265979835.0,252981676.0,304023744.0,202573501.0,319972989.0,...,2.148771e+09,1.903841e+09,1.664467e+09,1.926610e+09,1.923264e+09,2.463737e+09,2.283891e+09,2.045564e+09,6059.0,2.0
251,69.0,227609.0,28905.0,221958.0,28453.0,3252.0,496103.0,0.0,66750.0,0.0,...,0.000000e+00,0.000000e+00,0.000000e+00,4.802120e+05,1.798080e+05,2.155950e+05,0.000000e+00,0.000000e+00,6059.0,69.0

In [22]:
UPT_df[['CountyFIPS','UZA_CODE']].groupby([ 'CountyFIPS']).count().reset_index().sort_values(by='UZA_CODE', ascending=False)

     CountyFIPS  UZA_CODE
311     33011.0         3
386     39017.0         3
73       9001.0         3
273     26115.0         3
51       6083.0         3
..          ...       ...
213     21093.0         1
214     21101.0         1
215     21111.0         1
216     21113.0         1
610     56025.0         1

[611 rows x 2 columns]

In [23]:
UPT_df.dropna()

,UZA,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2015,2016,2017,2018,2019,2020,2021,2022,CountyFIPS,UZA_CODE
1,1.0,1.524053e+09,1.508950e+09,1.652350e+09,1.904403e+09,2.103386e+09,2.491490e+09,2.592699e+09,3.039239e+09,2.849347e+09,...,4.622081e+09,4.746774e+09,4.947030e+09,6.179188e+09,7.406262e+09,6.175369e+09,5.740923e+09,6.339105e+09,34003.0,1.0
2,1.0,1.524053e+09,1.508950e+09,1.652350e+09,1.904403e+09,2.103386e+09,2.491490e+09,2.592699e+09,3.039239e+09,2.849347e+09,...,4.622081e+09,4.746774e+09,4.947030e+09,6.179188e+09,7.406262e+09,6.175369e+09,5.740923e+09,6.339105e+09,34013.0,1.0
3,1.0,1.524053e+09,1.508950e+09,1.652350e+09,1.904403e+09,2.103386e+09,2.491490e+09,2.592699e+09,3.039239e+09,2.849347e+09,...,4.622081e+09,4.746774e+09,4.947030e+09,6.179188e+09,7.406262e+09,6.175369e+09,5.740923e+09,6.339105e+09,34017.0,1.0
4,1.0,1.524053e+09,1.508950e+09,1.652350e+09,1.904403e+09,2.103386e+09,2.491490e+09,2.592699e+09,3.039239e+09,2.849347e+09,...,4.622081e+09,4.746774e+09,4.947030e+09,6.179188e+09,7.406262e+09,6.175369e+09,5.740923e+09,6.339105e+09,34021.0,1.0
5,1.0,1.524053e+09,1.508950e+09,1.652350e+09,1.904403e+09,2.103386e+09,2.491490e+09,2.592699e+09,3.039239e+09,2.849347e+09,...,4.622081e+09,4.746774e+09,4.947030e+09,6.179188e+09,7.406262e+09,6.175369e+09,5.740923e+09,6.339105e+09,34023.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
683,490.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,26115.0,490.0
684,492.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,2.799100e+04,1.147189e+06,2.907783e+06,3.761370e+05,8.462840e+05,0.000000e+00,0.000000e+00,2.103165e+06,17183.0,492.0
686,601.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.032205e+06,5.398230e+05,1.298170e+05,3.025060e+05,1.243214e+06,4.728870e+05,1.099460e+05,4.304512e+06,6017.0,601.0
687,601.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,1.032205e+06,5.398230e+05,1.298170e+05,3.025060e+05,1.243214e+06,4.728870e+05,1.099460e+05,4.304512e+06,32005.0,601.0
688,602.0,6.380390e+05,2.797480e+05,0.000000e+00,5.200000e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,...,3.134206e+06,3.350212e+06,4.810218e+06,1.450880e+06,2.373500e+04,8.011500e+04,4.106600e+04,0.000000e+00,48167.0,602.0

In [24]:
UPT_df.dropna().to_csv('UPT_2002_2023_final_capital funding.csv')